<form>
  <form style="background-color:#E6E6FA">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="address">Address</label><br>
  <textarea id="address" name="address" rows="4" cols="50"></textarea><br>
  <label for="gender">Gender</label>
  <input type="radio" id="female" name="female" value="female">
  <label for="female">Female</label>
  <input type="radio" id="male" name="male" value="male">
  <label for="male">Male</label><br><br>
  <input type="submit" value="Submit"></form>
</form>