<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHASH</title>
</head>
<body>
  <form>
    <h1>ENTER YOUR DETAILS</h1>
    <label for="fname">FIRST NAME:</label>
    <br><input type="text"><br>
    <label for="lname">LAST NAME:</label>
    <br> <input type="text"><br>
  <h2>SELECT YOUR GENDER</h2>
    <input type="radio" id="male" name="gender" value="HTML">
    <label for="html">MALE</label><br>
    <input type="radio" id="female" name="gender" value="CSS">
    <label for="css">FEMAL</label><br>
    <input type="radio" id="others" name="gender" value="JavaScript">
    <label for="javascript">OTHERS</label>
  </form><br>
  <h2>ADDRESS</h2>
  <form action="https://www.w3schools.com/tags/tag_title.asp">
    <label for="address">ADDRESS:</label><br>
    <textarea name="comment" form="usrform">Enter text here...</textarea><br>
    <br><input type="submit" value="Submit">
  </form>
</body>
</html>