<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">User </h1>
      <div class="filter-wrap">
        <input [(ngModel)]="searchTerm" placeholder="Filter Games" class="filter-input">
      </div>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Address</th>
            <th class="text-center">State</th>
            <th class="text-center">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filterUser" class="clickable">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.state }}</td>
            <td>
              <button type="button" class="btn btn-info btn-sm mr-2" (click)="showEditUserForm(user)">Edit</button>

              <button type="button" class="btn btn-danger btn-sm" (click)="removeUser(user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="showAddUserForm()">Add New User</button>
      <div class="mt-4">
        <form *ngIf="userForm" #registerForm="ngForm"(ngSubmit)="registerForm.form.valid && onSubmit()" novalidate>
          <h2>Add New User</h2>
          <!-- <p>First Name: <input type="text" name="firstName" [(ngModel)]="newUser.firstName" /></p> -->
          <div class=" form-group">
            <label>firstname:</label>
            <input type="text" [(ngModel)]="newUser.firstname" name="name"
                #name="ngModel" required><br>
            <span class="text-danger"
                *ngIf="(name.touched || registerForm.submitted) && name.errors?.required">
                firstname is required
            </span>
        </div>
          <!-- <p>Last Name: <input type="text" name="lastName" [(ngModel)]="newUser.lastName" /></p> -->
          <div class=" form-group">
            <label>lastName:</label>
            <input type="text" [(ngModel)]="newUser.lastname" name="name"
                #name="ngModel" required><br>
            <span class="text-danger"
                *ngIf="(name.touched || registerForm.submitted) && name.errors?.required">
                lastname is required
            </span>
        </div>
          <p>Address: <textarea  type="text" name="address" [(ngModel)]="newUser.address"></textarea></p>
          <p>State:<select name="state" [(ngModel)]="newUser.state" >
              <option>choose state</option>
              <option *ngFor="let state of State" [value]="state.name">{{state.name}}</option>
              </select></p>
          	
              <div class="form-group">
                <button type="submit" class="btn btn-success">submit</button>
            </div>
            <p>
            <button type="button" class="btn btn-warning" (click)="cancelNewUser()">Cancel</button>
          </p>
        </form>

        <form *ngIf="editUserForm">
          <h2>Edit User Details</h2>
          <p>First Name: <input type="text" name="firstName" [(ngModel)]="editedUser.firstName" /></p>
          <p>Last Name: <input type="text" name="lastName" [(ngModel)]="editedUser.lastName" /></p>
          <p>Address: <
            <textarea name="address" [(ngModel)]="editedUser.address"></textarea>  /></p>
          <p>State: <select name="state" [(ngModel)]="editedUser.state" >
            <option>choose state</option>
            <option *ngFor="let state of State" [value]="state.name">{{state.name}}</option>
            </select></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateUser()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

