 <!-- <h1> 'FILL THE GIVEN FORM'</h1>
<form>
  <label for="fname"> First Name:</label> <br>
  <input style="color:rgb(1, 175, 255);" type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label> <br>
  <input style="color:rgb(2, 170, 248);" type="text" id="lname" name="lname"> <br> <br>
  <label for="fojojfd"> Gender:</label><br>
  <input type="radio" id="Male" name="Male member" value="Male"> 
  <label for="html">Male</label><br> 
  <input type="radio" id="Female" name="Female member" value="Female">
  <label for="css">Female</label><br>
  <input type="radio" id="Other" name="Other Member" value="Other">
  <label for="Other"></label>Other<br> <br>
  <label for="Address"> Address : </label><br>
  <textarea id="Address" name="Address" rows="4" cols="50"></textarea> <br>
  <input type="button" value="Submit">
   </form>
  <h4><p>After filling form click on submit button</p></h4>

  <input [(ngModel)]="name" placeholder="type here" type="text" />
 <h3>Hi, my name is {{ name }}</h3> -->
 
 <div>
  <h2>
    Hi, this is the {{title}}
  </h2>
</div>
<app-artists></app-artists>
<app-artistnames></app-artistnames>   